[submodule "LinEnum"]
	path = Privilege_Escalation/linux/LinEnum
	url = https://github.com/rebootuser/LinEnum.git
[submodule "linux-exploit-suggester"]
	path = Privilege_Escalation/linux/linux-exploit-suggester
	url = https://github.com/mzet-/linux-exploit-suggester.git
[submodule "Privilege_Escalation/windows/juicy-potato"]
	path = Privilege_Escalation/windows/juicy-potato
	url = https://github.com/ohpe/juicy-potato.git
[submodule "Privilege_Escalation/windows/PowerSploit-AdrianVollmer"]
	path = Privilege_Escalation/windows/PowerSploit-AdrianVollmer
	url = https://github.com/AdrianVollmer/PowerSploit.git
